body {
    background-color: #FBB040
}

p {
    color: black;
    font-family: monospace;
}

h1 {
    color: #EF4136;
    font-family: monospace;
}

ul {
    text-underline-position: below;
    font-family: monospace;
}

ol {
    text-shadow: 50;
}
